// ---------------------------------------------------------------------
//  Typography Styles
// ---------------------------------------------------------------------


// ----------------------------------------
// Paragraph Style Mixins
// ----------------------------------------

@mixin para {
    display: block;
    font-family: $sans-serif;
    font-size: $base-font-size;
    line-height: $base-line-height;

    @include stop-at($medium) {
        font-size: 14px;
    }
}

@mixin p-lg {
    font-size: 1.6rem;

    @include start-at($medium) {
        font-size: 20px;
    }
}

@mixin p-sm {
    font-size: 1.4rem;
    line-height: 1.7124;
}


// ----------------------------------------
// Paragraph Styles
// ----------------------------------------

.p,
p {
    @include para;
}

.p-lg {
    @include p-lg;
}

.p-sm {
  @include p-sm;
}


// ----------------------------------------
// Type Utilities
// ----------------------------------------
