
    <header class="site-header" data-animate-in="fade">
        <div class="logo">
            <img itemprop="logo" src="/assets/img/satellite/GitHub-Satellite-logo.svg" alt="GitHub Satellite 2018" />
        </div>
        <p class="by-github"><span>by <a href="http://gihub.com/" target="_blank">GitHub</a></span></p>
    </header>

    <ul class="social" data-animate-in="fade">
        <li>
            <a href="" title="visit our facebook page">
                <svg version="1.1" id="facebook-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 16 16" style="enable-background:new 0 0 16 16;" xml:space="preserve">
                     <path d="M15.1,0H0.9C0.4,0,0,0.4,0,0.9v14.2C0,15.6,0.4,16,0.9,16h7.7V9.8H6.5V7.4h2.1V5.6c0-2.1,1.3-3.2,3.1-3.2
                        c0.9,0,1.6,0.1,1.9,0.1v2.2l-1.3,0c-1,0-1.2,0.5-1.2,1.2v1.5h2.4l-0.3,2.4H11V16h4.1c0.5,0,0.9-0.4,0.9-0.9V0.9
                        C16,0.4,15.6,0,15.1,0z"/>
                </svg>
            </a>
        </li>
        <li>
            <a href="" title="visit our twitter page">
                <svg version="1.1" id="twitter-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 20 16" style="enable-background:new 0 0 20 16;" xml:space="preserve">

                 <path  d="M20,1.9c-0.7,0.3-1.5,0.5-2.4,0.6c0.8-0.5,1.5-1.3,1.8-2.2c-0.8,0.5-1.7,0.8-2.6,1C16.1,0.5,15,0,13.8,0
                        c-2.3,0-4.1,1.8-4.1,4c0,0.3,0,0.6,0.1,0.9C6.4,4.8,3.4,3.2,1.4,0.7C1,1.3,0.8,2,0.8,2.8c0,1.4,0.7,2.6,1.8,3.4
                        C2,6.1,1.4,5.9,0.8,5.6c0,0,0,0,0,0.1c0,2,1.4,3.6,3.3,4C3.8,9.7,3.4,9.8,3,9.8c-0.3,0-0.5,0-0.8-0.1c0.5,1.6,2,2.8,3.8,2.8
                        c-1.4,1.1-3.2,1.7-5.1,1.7c-0.3,0-0.7,0-1-0.1C1.8,15.3,4,16,6.3,16C13.8,16,18,9.8,18,4.5c0-0.2,0-0.3,0-0.5
                        C18.8,3.4,19.5,2.7,20,1.9z"/>
                </svg>
            </a>
        </li>
    </ul>
